<article class="Card">
  <%= Cells::Card::Image.render(card) %>
  <div class="Card-content">
    <% if is_link %>
      <%= link_to(card.name, game_card_path(card.game, card), class: "Card-name") %>
    <% else %>
      <p class="Card-name"><%= card.name %></p>
    <% end %>
    <p class="Card-text"><%= card.text %></p>
  </div>
</article>
