<header class="Main-header">
  <h1><%= @session.game.name %></h1>
  <menu class="Main-headerMenu">
    <%= link_to("End", @session, :method => :delete, :confirm => "Are you sure?") %>
  </menu>
</header>
<article class="ShowSession">
  <p>We're playing</p>
</article>
