<header class="Main-header">
  <h1>Cards</h1>
  <%= link_to("New Card", new_game_card_path) %>
</header>
<article class="Main-content">
  <% if @cards.empty? %>
    no cards.
  <% else %>
    <ul class="Cards">
      <% @cards.each do |card| %>
        <li class="Card">
          <%= image_attachment_tag(card.image, class: "Card-image") %>
          <%= link_to(card.name, game_card_path(card), class: "Card-name") %>
          <p class="Card-text"><%= card.text %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
<article>
