<div class='Field'>
  <%= f.label(name, class: 'Field-label') %>
  <%= yield('Field-input') %>
  <% if @errors&.[](name).present? %>
    <div class='Field-error'><%= @errors[name].join(",") %></div>
  <% end %>
</div>
