<%= content_tag(:div, with_class!(options, "Field")) do %>
  <%= f.label(name, class: "Field-label") %>
  <%= yield("Field-input") %>
  <% if errors.present? %>
    <div class="Field-error">
      <%= errors.join(",") %>
    </div>
  <% end %>
<% end %>
