<header class="Main-header">
  <h1>Cards</h1>
  <menu class="Main-headerMenu">
    <%= link_to("New Card", new_game_card_path) %>
  </menu>
</header>
<article class="ListCards">
  <% if @cards.empty? %>
    no cards.
  <% else %>
    <section class="Cards">
      <% @cards.each do |card| %>
        <%= card_tag(card, is_link: true) %>
      <% end %>
    </section>
  <% end %>
<article>
