<% wrapper = ::Web::Flash.deserialize(flash[:wrapper]) %>
<% if wrapper.present? %>
  <ul class="Flash <%= wrapper.alert? && 'Flash--alert' %>">
    <% wrapper.messages.each do |message| %>
      <li class="Flash-message"><%= message %></li>
    <% end %>
  </ul>
<% end %>
