<% wrapper = ::Web::Flash.deserialize(flash[:wrapper]) %>
<% if wrapper.present? %>
  <ul class="Page-flash <%= wrapper.alert? && 'Flash--alert' %>">
    <% wrapper.messages.each do |message| %>
      <li class="Page-flashMessage"><%= message %></li>
    <% end %>
  </ul>
<% end %>
